[Desktop Entry]
Version=1.0
Type=Link
Name=TheOdinProject/css-exercises · GitHub
Comment=
Icon=user-bookmarks
URL=https://github.com/TheOdinProject/css-exercises/tree/main/foundations
